:root {
    --maincolor: #cc186f; /*Aluminum*/
    --topbar: #abcdef;   /*Cerulean*/
    --headers: #a8a743; /*Light*/
    --accent: #bcde47; /*Tangerine*/
}

#alpha {
  background-color: #8847af;
  color: #768789;
}

#bravo {
  background-color: #abb7af;
  color: #688bb9;
}

#charlie {
  background-color: #554635;
  color: #aabdee;
}

#delta {
  background-color: #d6e504;
  color: #30544b;
}

#echo {
  background-color: #c6b2ab;
  color: #590e4e;
}

#foxtrot {
  background-color: #263368;
  color: #869634;
}

#golf {
  background-color: #003551;
  color: #d4ddd8;
}

#hotel {
  background-color: #f2a087;
  color: #242818;
}

#indigo {
  background-color: #627c12;
  color: #ff2100;
}

#juliet {
  background-color: #b6ff5e;
  color: #547aaf;
}

html {
  /*background-color: #41464f;*/
  background-color: var(--topbar);
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}

/*.my-2 {
  margin-left: 3%;
  margin-right: 3%; 
  font-size: 1.85em;
}*/



h5 {
  margin-left: 2px;
  font-family: Lucida Console, Georgia;
}

#help-header {
  background-color: var(--headers);
}

.text-center {
  /*background-color: #41464f;*/
  background-color: var(--maincolor); /*or use #efefef*/
  border-bottom: 1px solid var(--accent);
  border-radius: 0px;
  margin-bottom: 0px;
}

/*.bg-light {
  /*background-color: #41464f;*/
/*  background-color: var(--maincolor);
}*/

footer {
  /*background-color: #41464f;*/
  background-color: var(--topbar);
}

.list-container {
  margin-bottom: 25px;
}

.list-header {
  background-color: var(--headers);
  border-radius: 7px;
  margin-bottom: 5px;
}

ol {
  background-color: var(--maincolor);
  border-radius: 3px;
}

ul {
  background-color: var(--maincolor);
  list-style-type: none;
  border-radius: 3px;
}

/*li {
  margin: auto;
  margin-bottom: 3px;
  font-family: Lucida Console, Georgia;
  padding: 3px;
}*/

#card-back {
  /*background-color: #41464f;*/
  background-color: var(--maincolor);
}

/*.mr-auto {
  margin-right: 20%;
}*/

/*.mt-md-0 {
  margin-left: 25%;
}*/

.navbar-brand {
  margin-right: 10%;
  padding-left: 3%;
}

/*.login-container {
  background-color: var(--accent);
  padding: 20px;
  display: inline-block;
  position: absolute;
  left: 18%;
  z-index: 1;
  border-radius: 10px;
}*/

#create {
  border-bottom: 10px solid #f4eb42;
  margin: 0px;
}

.my-log {
  display: block;
}


